.carrusel{
    position: relative;
    height: 45vw;
    // height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.carrusel__item{
    width: 100%;
    height: 100%;
}
.carrusel__img{
    width: 100%;
    height: 100%;
}