.portafolioContenedor{
    width: 100vw;
    margin: 10px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.portafolio__pagina{
    width: 80vw;
    background-color: darken($color: $fuentePrimario, $amount: 10);
    margin: 0 60px 20px 60px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .portafolio__pagina-img{
        position: absolute;
        top: 0;
        left: 150px;
        width: 250px;
        height: 300px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .portafolio__pagina-texto{
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: 150px;
        h4{
            color: $primarioDark;
            font-size: $sizeTitulo;
        }
        p{
            color: $primarioDark;
            display: inline-block;
            width: 40vw;
        }
        
    }
}
@media screen and (max-width: 1300px){

    .portafolio__pagina{
        .portafolio__pagina-img{
            left: 50px;
        }
    }
    
}
@media screen and (max-width: 1174px){
    .portafolioContenedor{
        margin: auto;
        width: 90vw;
        flex-direction: column;
    }
    
    
}

@media screen and (max-width: 900px){

    .portafolio__pagina{
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 20px 0;
        padding: 30px 0;
        .portafolio__pagina-img{
            position: relative;
            left: auto;
            width: 70vw;
        }
        .portafolio__pagina-texto{
            position: relative;
            left: auto;
            h4{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 330px){
    
}