
//* Esto seria lo mas eficiente pero no compila (abajo esta el de produccion)
// .spriteCaminando-contenedor{
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
// }
// .spriteCaminando{
//     transform: scale(1.5);
//     position: relative;
//     width: 48px;
//     height: 48px;
//     overflow: hidden;
//     animation: moverEscenario $tiempoSprite steps(1) infinite;
//     img{
//         position: absolute;
//         top: calc(-48px * $spriteTop);
//         left: calc(-48px * $spriteLeft);
//         transition: none;
//         animation: caminar $tiempoSprite steps(1) infinite;
//     }
// }
// @keyframes caminar {
//     0%{
//         top: calc(-48px * #{$spriteTop});  //4 
//         left: calc(-48px * #{$spriteLeft});//9
//     }
//     12.5%{
//         top: calc(-48px * (#{$spriteTop} + 2));
//         left: calc(-48px * #{$spriteLeft});
//     }
//     24%{
//         top: calc(-48px * (#{$spriteTop} + 2));
//         left: calc(-48px * (#{$spriteLeft} + 1));
//     }
//     36.5%{
//         top: calc(-48px * (#{$spriteTop} + 2));
//         left: calc(-48px * (#{$spriteLeft} + 2));
//     }
//     49%{
//         top: calc(-48px * #{$spriteTop});
//         left: calc(-48px * (#{$spriteLeft} + 2));
//     }
//     61.5%{
//         top: calc(-48px * (#{$spriteTop} + 1));
//         left: calc(-48px * #{$spriteLeft});
//     }
//     74%{
//         top: calc(-48px * (#{$spriteTop} + 1));
//         left: calc(-48px * (#{$spriteLeft} + 1));
//     }
//     86.5%{
//         top: calc(-48px * (#{$spriteTop} + 1));
//         left: calc(-48px * (#{$spriteLeft} + 2));
//     }
// }
// @keyframes moverEscenario {
    // 0%{left: calc(-20px);}
    // 12.5%{left: 0;}
    // 24%{left: calc(20px);}
    // 36.5%{left: calc(20px * 2);}
    // 49%{left: calc(20px * 2);}
    // 61.5%{left: calc(20px);}
    // 74%{left: 0;}
    // 86.5%{left: calc(-20px);}
// }



.spriteCaminando-contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.spriteCaminando{
    transform: scale(1.5);
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
    animation: moverEscenario $tiempoSprite steps(1) infinite;
    img{
        position: absolute;
        top: calc(-48px * 0);
        left: calc(-48px * 0);
        transition: none;
        animation: caminar $tiempoSprite steps(1) infinite;
    }
}
@keyframes caminar {
    0%{
        top: calc(-48px * 0);  
        left: calc(-48px * 0);
    }
    12.5%{
        top: calc(-48px *  2);
        left: 0;
    }
    24%{
        top: calc(-48px *  2);
        left: calc(-48px);
    }
    36.5%{
        top: calc(-48px *  2);
        left: calc(-48px * 2);
    }
    49%{
        top: 0;
        left: calc(-48px *  2);
    }
    61.5%{
        top: calc(-48px *  1);
        left: 0;
    }
    74%{
        top: calc(-48px *  1);
        left: calc(-48px *  1);
    }
    86.5%{
        top: calc(-48px *  1);
        left: calc(-48px *  2);
    }
}
@keyframes moverEscenario {
    0%{left: calc(-20px);}
    12.5%{left: 0;}
    24%{left: calc(20px);}
    36.5%{left: calc(20px * 2);}
    49%{left: calc(20px * 2);}
    61.5%{left: calc(20px);}
    74%{left: 0;}
    86.5%{left: calc(-20px);}
}
