
.imagenPage{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img{
        width: 35vw;
        height: auto;
        object-fit: contain;
        flex-grow: 1;
        margin: 0 50px;
    }
    div{
        flex-grow: 2;
        margin: 0 40px;
        min-width: 40vw;
        max-width: 45vw;
        h3{
            font-size: $sizeTitulo;
    
        }
        p{
            font-size: $sizeMedia;
            margin: 10px 0 60px 0;
        }
        .boton{
            width: 200px;
            text-align: center;
        }
    }
    
}
@media screen and (max-width: 1050px){
    
.imagenPage{

    img{
        margin-top: 50px;
    }
    div{
        margin-top: 50px;
        h3{
            font-size: $sizeGrande;
    
        }
        p{
            text-align: left;
            font-size: $sizePeque;
            margin: 10px 0 60px 0;
        }
        .boton{
            width: 200px;
            text-align: center;
        }
    }
    
}
}
