
html,body{
    background-color: $fondo;
}
body.dark{
    background-color: $fondoDark;
    .texto{
        color: $primarioDark;
    }
    .enlace{
        color: $primarioDark;
        &:hover{
            color: darken($color: $primarioDark, $amount: 40);
        }
    }
    .boton{
        background-color: $secundarioDark;
        border: 2px solid $secundarioDark;
        color: $primarioDark;
        &:hover{
            background-color: $fondoDark;
            border: 2px solid $secundarioDark;
            color: $secundarioDark;
        }
    }
    .hamburger{
        .hamburger-box{
            .hamburger-inner,
            .hamburger-inner::after,
            .hamburger-inner::before{
                background-color: $primarioDark;
                color: $primarioDark;
                
            }
        }
    }
}
