//*Configuraciones globales

//?colors
$fondo : #fff;
$primario : #111;
$secundario: #D84315;
$fondoNabvar: #fff;
//fuentes
$fuentePrimaria: 'Poppins', sans-serif;

//color fuentes
$fuentePrimario: #222831;

//Tamaños fuentes
$sizePeque: 14px;
$sizeMedia: 18px;
$sizeGrande: 30px;
$sizeTitulo: 3rem;
//Tiempos
$transisionTiempo: .3s;
$transisionTiempoLenta: .5s;
 //Opacidad
$opacidadSecundario: darken($color: $secundario, $amount: 15);
//Sprites
$tiempoSprite: 3s;
$spriteTop: 0;
$spriteLeft: 0;
//*Configuraciones globales Dark

//?colors
$fondoDark : rgb(19, 18, 18);
$primarioDark : rgb(255, 255, 255);
$secundarioDark: #a525b1;
$fondoNabvarDark: rgb(31, 31, 31);
//color fuentes
$fuentePrimarioDark: #c8c8c8;
 //Opacidad
$opacidadSecundarioDark: darken($color: $secundarioDark, $amount: 15);